<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{@user.name} is requesting a payment" %></h1>
    <p>
      <%= "Pay up to the tune of #{@entry.amount}!" %>
    </p>

    <p>Click this nifty button to pay</p>
  </body>
</html>
