<nav>
  <h1>List</h1>
</nav>
<article id='main'>
  <section>
    <%= link_to signin_path do %>
      <i class="fa fa-sign-in user-nav-icon icon-dashboard icon-large"></i>
      <span class="sidebar-label">Log In</span>
    <% end %>
  </section>
</article>
