<style>
.background-image {
  -webkit-filter: blur(0px);
}

.tabbar {
  display: none !important;
}

.login-button {
  margin-top: 380px;
}
</style>
<nav>
  <h1>Split Track</h1>
</nav>
<article id='main'>
  <section class="login-button">
    <%= link_to "Login", signin_path, class: "button action" %>
  </section>
</article>
