<table>
  <tr>
    <td>AVAILABLE FUNDS</td>
    <td>$20.00</td>
  </tr>
  <tr>
    <td>YOU OWE</td>
    <td>$10.00</td>
  </tr>
  <tr>
    <td>YOU ARE OWED</td>
    <td>$5.00</td>
  </tr>
  <tr>
    <td>+/-</td>
    <td>$15.00</td>
  </tr>
  <tr>
    <td>SCHEDULED PMTS</td>
    <td>$10.00</td>
  </tr>
</table>

