<h1>Ember-Rails-Devise Demo</h1>
<p>
    Welcome!
</p>
<p>
    If you ran rake db:seed, you can log in with <strong>test@test.com</strong>, <strong>tester</strong>.  Or just register.
</p>

<div class="tabbar" id="ht123lsz"><a class="button home selected"><label>Home</label></a><a class="button contacts"><label>Contacts</label></a><a class="button split_pay"><label>Schedule</label></a><a class="button split_pay"><label>Split Pay</label></a></div>
