<nav class="current">
  {{#link-to 'home'}}Home{{/link-to}}
  {{#link-to 'help'}}Help{{/link-to}}
  <h1 class="buttonOnRight">Skedular</h1>
    {{#if isAuthenticated}}
        {{action logout}}
    {{else}}
        {{view App.MenuItem href="#/login" label="Login" }}</a>
        {{view App.MenuItem href="#/registration" label="Register"}}
    {{/if}}
  </div>
</nav>
