<div class="tabbar" id="ht123lsz">
  {{#link-to 'home' classNames="button"}}<label>Home</label>{{/link-to}}
  {{#link-to 'contacts' classNames="button"}}<label>Contacts</label>{{/link-to}}
  {{#link-to 'calendar' classNames="button"}}<label>Canlendar</label>{{/link-to}}
  {{#link-to 'schedule' classNames="button"}}<label>Schedule</label>{{/link-to}}
</div>

