<div id="footer">
  <div id="footer-nav-top">
    <div>SETTLE UP</div>
    <div>REQUEST PMT</div>
  </div>
  <div id="footer-nav-bottom">
    <ul>
      <li>HOME</li>
      <li>CONTACT</li>
      <li>SPLIT PMT</li>
    </ul>
  </div>
</div>
