<div id="footer">
  <div id="footer-nav-top">
    <div>SETTLE UP</div>
    <div>REQUEST PMT</div>
  </div>
  <div id="footer-nav-bottom">
    <ul>
      <li>HOME</li>
      <li>CONTACT</li>
      <li><%= link_to "SPLIT PMT", new_split_payment_path %></li>
    </ul>
  </div>
</div>
