<nav class="tab-bar">
  <section class="middle tab-bar-section">
    Signed in as:<%= current_user.name %>
  </section>
  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
  </section>
</nav>
