<!-- Off Canvas Menu -->
<aside class="right-off-canvas-menu">
<!-- whatever you want goes here -->
  <ul class="off-canvas-list">
    <li><label>Foundation</label></li>
    <li><%= link_to signin_path, class: "list-group-item home" do %>
      <i class="fa fa-sign-in user-nav-icon icon-dashboard icon-large"></i>
      <span class="sidebar-label">Log In</span>
    <% end %>
    <li><a href="#">The Psychohistorians</a></li>
    <li><a href="#">The Encyclopedists</a></li>
    <li><a href="#">The Mayors</a></li>
    <li><a href="#">The Traders</a></li>
    <li><a href="#">The Merchant Princes</a></li>
  </ul>

</aside>
